.mainProjContainer {
  padding: 8px;
}

.mainProjContainer h2 {
  color: #647777;
  margin: 75px 0 45px 65px;
  font-size: 52px;
}

.projectContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

@media only screen and (max-width: 500px) {
  .mainProjContainer h2 {
    font-size: 35px;
    margin: 25px;
    text-align: center;
  }
}
