.mainProjContainer {
  padding: 8px;
}

.mainProjContainer h2 {
  color: #647777;
  margin: 75px 0 45px 65px;
  font-size: 52px;
}

.projectContainer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
