@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;500;600&display=swap');

.mainContainer {
  color: #647777;
  padding: 25px 0;
  font-size: 18px;
}

.title {
  margin-top: 130px;
  margin-bottom: 80px;
  font-size: 30px;
  text-align: center;
}

.title :first-child {
  margin-bottom: 24px;
  font-size: 3rem;
}

.aboutContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 100px;
}

.imgContainer {
  margin: 32px;
}

.myPhoto {
  margin-right: 105px;
  width: 350px;
  border-radius: 50%;
  border: 2px solid #647777;
}

.description {
  margin-top: 40px;
  margin-left: 65px;
}

.strong {
  color: #647777;
  margin: 25px;
  font-size: 35px;
}

.about {
  margin: 40px 0px 50px 55px;
  font-size: 28px;
  line-height: 48px;
}

.skillsContainer {
  width: 100%;
  background-color: black;
  padding: 8px 0;
}

.subtitles {
  color: #f3f2f2;
  margin: 75px 0 50px 65px;
  font-size: 52px;
}

.skills{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 55px;
}

.icons {
  padding: 8px;
  margin: 16px;
  color: #f3f2f2;
  font-size: 32px;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.icon {
  display: flex;
  align-self: center;
}

@media only screen and (max-width: 1000px) {
  .description {
    text-align: center;
    margin: 40px ;
  }

  .imgContainer {
    display: none;
  }
}

@media only screen and (max-width: 500px) {

  .title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
  }

  .title :first-child {
    font-size: 1.5rem;
  }

  .title h2 {
    font-size: 1.2rem;
  }

  .aboutContainer {
    margin-bottom: 0;
  }

  .description {
    margin-top: 0;
    margin-left: 0;
  }
  
  .strong {
    margin: 5px;
    font-size: 20px;
  }
  
  .about {
    margin: 10px 0px 0px 20px;
    font-size: 15px;
    line-height: 38px;
  }

  .imgContainer {
    display: none;
  }

  .skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subtitles {
    font-size: 35px;
    margin: 25px;
  }

  .icons p {
    display: none;
  }
}
