.indice {
  padding: 24px;
  text-align: end;
  box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.indiceScrolled {
  padding: 24px;
  text-align: end;
  position: fixed;
  background-color: rgba(219, 223, 224, 0.7);
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}

.namae {
  margin-left: 55px;
  font-size: 22px;
}

.linksContainer {
  margin-right: 105px;
}

.linksContainer > * {
  color: black;
  font-size: 22px;
  line-height: 28px;
  margin-right: 32px;
  text-align: left;
  text-decoration: none;
}

.linksContainer > *:hover {
  color: #4c5c5c;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .namae {
    margin-left: 5px;
    font-size: 15px;
  }

  .linksContainer {
    margin-right: 45px;
  }

  .linksContainer > * {
    color: black;
    font-size: 15px;

    line-height: 20px;
    margin-right: 12px;
  }
}
