.links {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    padding: 0 25px;
}

.contactIcon {
    display: inline-block;
    font-size: 42px;
    margin: 25px;
}

.contactIcon :first-child {
    color: aliceblue;
}

.contactIcon :first-child:hover{
    color: #71FF61;
}