.projImage {
  border-radius: 10px;
  width: 40em;
  height: 24em;
  
}

.projImage:hover {
  opacity: 0.5;
  /* animation: popout 1.0s ease; */
}

/* @keyframes popout {
  from{transform:scale(1)}
    50%{transform:scale(1.1)}
    to{transform:scale(1)}
} */


.modal {
  background-color: black;
  color: #d3dddd;
  padding: 32px;
  margin: 5%;
  max-height: 75vh;
  text-align: center;
  position: relative;
  overflow-y: auto;
  border-radius: 7px;
}

.modal h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}

.descriptionContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.descriptionContent p {
  font-size: 24px;
}

.projectGit {
  font-size: 52px;
}

.projectGit :first-child {
  color: #d3dddd;
}

.projectGit :hover :first-child {
  color: #4c5c5c;
}

.iframeTube {
  width: 70%;
  height: 55vh;
  margin-bottom: 50px;
}

.closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 32px;
  color: #d3dddd;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 45px;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .projImage {
    border-radius: 10px;
    width: 25em;
    height: 15em;
  }

  .iframeTube {
    width: 100%;
    margin-bottom: 30px;
  }
}