@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;500;600&display=swap');

.main {
  font-family: Lexend, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #949999; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(146, 156, 156, 0.8); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(123, 127, 128, 0.9); 
}
